body {
    margin: 0;
    padding: 0;
}


/* Header */
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 253, 253);
}


.navbar h1{
    font-size: 38px;
    margin-left: 7.6%;
    margin-top: 1.2%;
    
}

.navbar h1 a{
    color: rgb(228, 154, 17);
    font-family:   serif;
    text-decoration: none;
}

.search{
    border-radius: 25px;
    margin-left: 0.5%;
    width:67%;
    height: 35px;
    margin-top: 1.3%;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px; 
    font-size: 15px;
    background-color: rgb(221, 221, 221);
    z-index: 5;
   
}

@media only screen and (max-width: 1050px) {
  .search{
      margin-left: 0.1%;
  }
}
.search:focus{
    outline:0;
}
.btn{
    position: absolute;
    height: 35px;
    width: 3%;
    margin-top: 1.7%;
    margin-left: 79%;
    border:none;
    z-index: 10;
    background: none;
}

.btn:focus {
    outline:0;
}
.btn:hover{
    color: orangered;
    cursor: pointer;
}

.btnSign{
    background: none;
    border: none;
    margin-left: 2.1%;
    margin-top: -0.4%;
    font-size: 17px;    
}

.btnSign:focus{
    outline: 0;
}

.btnSign a:hover{
    color: orangered;
    cursor: pointer;
}

.btnSign a {
    text-decoration:none;
    color: black;
 }

.btnBasket{
    background: none;
    border: none;
    margin-left: 2%;
    margin-top: -0.4%;
}
.btnBasket:hover{
    color: orangered;
    cursor: pointer;
}
.btnBasket:focus{
    outline: 0;
}

/*<!-- dropdown menu--> */

.dropdown{
    text-align: center;
}

.dropdown ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: grey;
    margin-top: -15px;
    
}

.dropdown ul li{
    width: 60%;
    padding: 20px;
    
}

.dropdown ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
   
}

.dropdown ul li:hover{
    text-decoration: underline;
    
}

.sub-menu-1{
    display: none;
    background-color:white;
    width:23%;
}

.dropdown ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -55px;
    
}

.dropdown ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 20px;

}

.sub-menu-1 ul li:hover{
    background: rgb(197, 197, 197);
    text-decoration: none;
}

.nav-toggle{
    display: none;
}

.navbar2{
    display: none;
}

/* Media Navbar */

@media only screen and (max-width: 850px) {

    .navbar{
        display: none;
    }
    .navbar2 {
        display: inherit; 
        width: 100%;
       
    }
    
    .icon-container{
        display: flex;
        margin-top: -2%;
       
     
        
    }
    
    .icon-container > form{
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
    
    .icon-container > h1{
        display: flex;
        flex: 3;
    }
    .icon-container > h1 a{
        color: rgb(228, 154, 17);
        font-family:   serif;
        text-decoration: none;
        font-size: 35px;
    }
    
    .btnSignn, .btnBaskett {
        border: none;
        background: none;
        text-decoration: none;
        width: 60px;
        font-size: 15px;
    
    }
    .btnSignn, .btnBaskett:focus{
        outline: 0;
    }
    
     .btnBaskett:hover{
        cursor: pointer;
        color: orangered;
    }
    .btnSignn a:hover{
        cursor: pointer;
        color: orangered;
    }
    
    .btnSignn a {
        text-decoration:none;
        color: black;
     }
    .search-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }
    
    
    .inputContainer{
        width: 100%;   
    }
    
    .nav-toggle{
        display: inherit;
        font-size: 20px;
        background: none;
        border: none;
        
    }
    
    .nav-toggle:hover{
        cursor: pointer;
    }

    .nav-toggle:focus {
        outline:0;
    }
    
    .searchh{
        border-radius: 25px;
        margin-left: 1%;
        width:89%;
        height: 35px;
        margin-top: 1.3%;
        border: 1px #000 solid;
        padding: 5px 5px 5px 15px; 
        font-size: 15px;
        background-color: rgb(221, 221, 221);
       
    }
    
    .searchh:focus{
        outline: 0;
    }
    .inputContainer i {
        position: absolute;
    }
    
    .icon {
      margin-left: -35px;
      margin-top: 15px;
      font-size: 25px;
       
    }
    
    .icon:hover{
        cursor: pointer;
        color: orangered;
    }
    
    .menu{
        display: none;
    }
    
    .show-navbar {
        display: block;
      width: 86%;
      }
    .dropdown{
        position:relative;
        display: inline-block;
        background-color: rgb(185, 185, 185);
        width: 120%;
        height: 500px;
        margin-left: -10px;
        margin-top: 10px;
        z-index:10;
        
    }
    .dropdown ul{
        display: block; 
        list-style: none;
        color: rgb(177, 177, 177);
        margin-top: -15px;
        margin-left:-19%; 
         
    }
    .dropdown ul li{
        width: 100%;
        padding: 5px;
        
        
    }
    .dropdown ul li a{
        display: block;
        padding: 5px 5px;
        text-decoration: none;
        border: none;
        font-size: 25px; 
        margin-top: 5px;
        
    }
    .dropdown ul li:hover .sub-menu-1{
        display: none;
        
        
    }
    
    .dropdown ul li:hover .sub-menu-1 ul{
        display: none;
        
    
    }
    
    
    }
